
    <div>
        <a href="/movies">Go back</a>
        <div>
            <img src="{{image}}" alt={{title}}>  
        </div>
        <div>            
        {{title}}
        {{director}}
        {{stars}}
        {{description}}
        {{showtimes}}
        </div>        
    </div>
  
  
   